.wrapper {
    padding: 20px 60px 0 60px;
    font-size: 13px;
    width: 100%;
    margin-bottom: 32px;
}

.tabpanel {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
}

.tabpanel-item {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 35px 5px 35px;
    cursor: pointer;
    &:hover {
        background-color: rgba(154, 148, 148, 0.2);
    }
    &.active {
        border-bottom: 3px solid #00b63e;
    }
    transition: background-color .2s linear;
}

.content {
    margin-top: 32px;
}