.tt-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.animate-spin{
    animation: spin 1s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0px 16px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.image {
    width: 92px;
    height: 120px;
    border-radius: 10px;
}

.rightContent {
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rv-container{
    width: 50%;
}
.outerContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.order-price {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
    margin-bottom: 15px;
    margin-top: 5px
}

.productName {
    font-size: 16px;
    font-weight: 600;
    text-wrap: nowrap;
    max-width: 300px;
}

.colorSize {
    color: #00000099;
    font-size: 14px;
}

.selector {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.operator {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 35px;
}

.outerQuantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #999999;
    border-radius: 40px;
    overflow: hidden;
}

.account-info__btn {
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s linear;
    background-color: #000;
    color: white;
}
.img-review{
    width: 80px;
    height: 80px;
    border: 0.5px solid #ccc;
     border-radius: 5px;
}
.colorSize {
    color: #00000099;
    font-size: 14px;
}

.account-info__btn .account-info__btn-text {
    font-weight: 600;
    font-size: 14px;
    transition: 0.1s linear;
}

.account-info__btn:hover .account-info__btn-text {
    color: white;
}

.account-info__btn:hover {
    background-color: #2f5acf;
}

.account-info__btn_cancel {
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #999;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s linear;
}

.account-info__btn_cancel .account-info__btn-text_cancel {
    font-weight: 600;
    font-size: 14px;
    transition: 0.1s linear;
}

.account-info__btn_cancel:hover .account-info__btn-text_cancel {
    color: white;
}

.account-info__btn_cancel:hover {
    background-color: rgb(172, 27, 27);
}

.input {
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    z-index: 3;
    background: rgba(212, 212, 212, 0.4);
    font-size: 14px;
}

.input:focus {
    outline: none;
    border: 1px solid #2f5acf;
}

.img-wrapper {
    position: relative;
    display: inline-block;

    p {
        text-wrap: nowrap;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 0;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }

    .icon-remove-img {
        z-index: 20;
        position: absolute;
        padding: 4px;
        top: 4px;
        right: 4px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

@media (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin: 0px 5px;
        box-shadow: none;
        width: 100%;
    }
    .rightContent {
        margin-left: 10px;
        width: 90%;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .image {
        width: 60px;
        height: 60px;
        border-radius: 2px;
    }

    .tt-container {
        flex-direction: column;
    }

    .info-responsive {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: end;
    }
    .order-price {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: flex-end;
        margin-bottom: 0px;
        margin-top: 5px
    }
    .rv-container{
        width: 100%;
    }
    .img-review{
        width: 60px;
        height: 60px;
        border: 0.5px solid #ccc;
         border-radius: 2px;
    }
}