.wrapper {
    background-color: #F4F7FE;
    min-height: 100vh;
    width: 100%;
    font-size: 13px;
}
.container {
    padding: 30px;
    width: 100%;
}
.content {
    min-height: max-content;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 28px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.toolbox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}
.filter-box {
    display: flex;
    align-items: center;
}
.search-box {
    padding: 5px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.search-input {

    padding: 0px 10px;
    width: 250px;
    outline: none;
    border: none;
}

.input-focus {
    border: 1px solid #b8b7b7;
    box-shadow: 0 3px 10px rgb(0,  0, 0,0.25);
}

.icon {
    font-size: 18px;
    cursor: pointer;
}

.function-box {
    display: flex;
    align-items: center;
    
}

.product-category {
    position: relative;

}



.product-type {
    position: relative;
}

// .product-type-list, .product-category-list {
//     display: none;
//     position: absolute;
//     z-index: 100;
//     width: 180px;
//     top: 27px;
//     left: 11px;
//     list-style: none;
//     padding: 10px 0;
//     background-color: red;
//     border-radius: 5px;
//     box-shadow: 0 5px 25px rgb(0,  0, 0,0.25);
//     background-color: #fff;

//     li {
//         font-size: 14px;

//         padding: 8px 24px;
//         cursor: pointer;
    
//         &:hover {
//             background-color: #f0f1f3;
//         }
//     }
// }

.btn {
    
  
    border-radius: 5px;
    padding: 7px 20px;

    color: #fff;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
   
}

.btn-succeed {
    background-color: #4bac4d;
      // background-color: #6d6d6d;
    // background-color: #000;
    // background-color: orange;
    &:hover {
        background-color: #009232;
    }
}

.tableView {
    padding: 0px 32px 40px 32px;
    overflow: auto;


    .table {
        width: 100%;
        table-layout: fixed;
        min-width: 875px;
        border-collapse: collapse;
    }
    
    .thead {
        tr {
            border: 0.5px solid rgb(212, 231, 249);
        }
    }
    
    .thead th {
        position: sticky;
        top: 0;
        background-color: #f6f9fc;
        background-color: #e6f1fe;
    
        color: #000;
        font-size: 13px;
        padding: 10px 10px;
        word-break: break-all;
        text-align: left;
        vertical-align: middle;
    }
    
    tr td {
        text-align: left;
        padding: 10px 10px;
    }
    
    // th.delete {
    //     width: 50px;
    //     text-align: right;
    //     .icon-delete {
    //         font-size: 20px;
    //         color: #666;
    //     }
        
    // }
    
    
    th.code {
        width: 220px;
        padding: 10px 10px 10px 25px;
        text-align: center;
    }
    th.date {
        width: 140px;
        padding: 10px 10px 10px 25px;
    }
    
    th.customerName {
        width: 100%;
    }
    
    th.customerPhone {
        width: 150px;
    }
    
    
    
    th.province {
        width: 140px;
    }
    
    th.totalPrice {
        width: 146px;
        text-align: right;
        padding: 10px 40px 10px 10px;
    
    }
    
    th.status {
        width: 140px;
       
    }
 
}



