.bayvao{
    transform: translateX(calc(100% + 16px));
    transition: all 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bayra{
    transition: all 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.account-info__btn{
    cursor: pointer;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    border: #231D20 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s linear;
    font-size: 14px;
}
.account-info__btn .account-info__btn-text {
    font-weight: 600;
    transition: 0.1s linear;
}
.account-info__btn:hover .account-info__btn-text{
    color: white;
}
.account-info__btn:hover{
    background-color: #231D20;
}


@media only screen and (max-width: 767px) {
    .container-slider {
        padding-top: 30px;
        margin: 0 10px;
        .title-slider {
            font-size: 16px;
            font-weight: 600;
            margin: 20px 0 0 10px;
        }
        .width-item {
            width: 100%;
        }
        .carousel-item {
            width: 100%;
        }
    }
    
    .container-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        img {
            width: 96%;
            border-radius: 4px;
            margin-top: 20px;
        }
    }
    
    .container-pages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .container-item {
            position: relative;
            width: 100%;
            padding: 10px;
        }
        .itemIMG {
            width: 100%;
            border-radius: 4px;
        }
        .btn-item {
            cursor: pointer;
            font-size: 5vw;
            color: #000;
            border-radius: 10px;
            position: absolute;
            top: 0;
            right:  0;
            margin: 8% 11% 0 0;
            a {
                color: #000;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-slider {
        padding-top: 30px;
        margin: 0 80px;
        .title-slider {
            font-size: 20px;
            font-weight: 600;
            margin: 20px 0 0 10px;
        }
        .width-item {
            width: 100%;
        }
        .carousel-item {
            width: 25%;
        }
    }
    
    
    .container-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        img {
            width: 96%;
            border-radius: 4px;
            margin-top: 20px;
        }
    }
    
    .container-pages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .container-item {
            position: relative;
            width: 100%;
            padding: 20px;
        }
        .itemIMG {
            width: 100%;
            border-radius: 4px;
        }
        .btn-item {
            cursor: pointer;
            font-size: 40px;
            color: #000;
            border-radius: 10px;
            position: absolute;
            top: 0;
            right:  0;
            margin: 30px 40px 0 0;
            a {
                color: #000;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .container-slider {
        padding-top: 30px;
        margin: 0 80px;
        .title-slider {
            font-size: 20px;
            font-weight: 600;
            margin: 20px 0 0 10px;
        }
        .width-item {
            width: 100%;
        }
        .carousel-item {
            width: 25%;
        }
    }
    
    .container-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        img {
            width: 96%;
            border-radius: 4px;
            margin-top: 20px;
        }
    }
    
    .container-pages {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px 20px;
        .container-item {
            position: relative;
            width: 100%;
            margin: 0 10px; 
        }
        .itemIMG {
            width: 100%;
            border-radius: 4px;
        }
        .btn-item {
            cursor: pointer;
            font-size: 30px;
            border-radius: 10px;
            position: absolute;
            top: 0;
            right:  0;
            margin-right: 20px;
            color: #000;
            a {
                color: #000;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}






