




.product-item {
    td.code {
        color: #0070f4;
        padding: 10px 10px 10px 15px;
        text-align: center;
    
    }
    
    
    td.date {
        padding: 10px 10px 10px 25px;
    }
    
    td.customerName {
    
    }
    
    td.customerPhone {
    
    }
    
    
    
    td.province {
      
    }
    
    td.totalPrice {
        
        text-align: right;
        padding: 10px 40px 10px 10px;
    
    }
    
    td.status {
    
        
    }
     
    border: 1px solid #ddd;
    border-top: none;
    
    &:hover {
        background-color: #f2fbf5;
    }

    &.showDetail {
        background-color: #e6f8ec;
        border-bottom: none;
        border-right: 1px solid #4cb050;
        border-left: 2px solid #4cb050;

        td {
            border-top: 1px solid #4cb050;
        }
    }
    

    
    cursor: pointer;
}
.product-detail {
    border-left: 2px solid #4cb050;
    border-right: 1px solid #4cb050;
    border-bottom: 1px solid #4cb050;
}

