.wrapper {
    width: 85vw;
    max-width: 1000px;
    background-color: #fff;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    font-size: 14px;
}
.label-input{
    font-weight: 600;
    width: 40%;
}
.input-field-left{
    width: 45%;
    display: flex;
    align-items: center;
}
.input-field-right{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.input{
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    margin-left: 10px;
    width: 60%;
}
.input:focus {
    border-bottom: 2px solid #2a9aeb;
}
.row-input{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
}
.expired-item {
    background-color:rgb(247, 202, 202);
    border-radius: 12px;
    width: fit-content;
    color: red;
    padding: 5px 16px;
    align-items: center;
}
.unExpired-item {
    background-color:rgb(202, 247, 209);
    border-radius: 12px;
    width: fit-content;
    color: green;
    padding: 5px 16px;
    align-items: center;
}